Sculi2/TestCompleteProject/01_Prototype/Prototype/PrototypeScreens/SampleData/VariableDataSource/VariableDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.VariableDataSource" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.VariableDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VariableDataSource" type="tns:VariableDataSource" />
  <xs:complexType name="VariableDataSource">
    <xs:sequence>
      <xs:element name="Variables" type="tns:Variables" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Variables">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="VariablesItem" type="tns:VariablesItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VariablesItem">
    <xs:attribute blend:FormatParameters="4" name="Address" type="xs:double" />
    <xs:attribute blend:Format="Lorem ipsum" blend:FormatParameters="4,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="4" name="Value" type="xs:double" />
    <xs:attribute name="Unit" type="xs:string" />
    <xs:attribute name="Range" type="xs:string" />
  </xs:complexType>
</xs:schema>